<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{20} - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="org.openqa.selenium.interactions.Actions" level="OFF"/>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>